html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}


a:visited {
  text-decoration: none;
}


a:hover {
  text-decoration: none;
}


a:active {
  text-decoration: none;
}