html,
body {
  margin: 0;
  padding: 0;
  background: black;
  color: aliceblue;
  font-size: 150%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: hidden;
}

container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

flashjs {
  width: 1000vw;
  height: 1000vh;
  border: 2px solid aliceblue;
}

loading {
  position: fixed;
  border: 8px solid azure;
  border-top: 8px solid #FFCD3C;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s forwards infinite;
  transition: all 250ms;
  z-index: 0;
}

@keyframes spin {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}